.manager-dashboard-container {
  background-color: #fff;
  border: 3px solid #000;
  flex-direction: column;
  margin-top: 1em;
  width: 82vw;
}

.todays-snapshot-title {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.all-totals-container {
  display: flex;
  flex-direction: row;
  height: 13em;
  justify-content: space-evenly;
}

.percent-rooms-occupied-container {
  background-color: $lightgrey;
  height: 10em;
  width: 20em;
  border: 1px solid black;
}

.total-revenue-container {
  @extend .percent-rooms-occupied-container;
}

.total-rooms-container {
  @extend .percent-rooms-occupied-container;
}

.totals-title {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.totals {
  display: flex;
  font-size: 4em;
  justify-content: center;
}

.manager-welcome {
  font-size: 2em;
  font-weight: 700;
  margin-top: 1em;
}

.customer-details {
  font-size: 2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.customer-details-container {
  @extend .manager-dashboard-container;
  display: flex;
}

.customer-booking-header {
  @include flexin(row);
  justify-content: space-around;
}

.booking-cards-container {
  height: 25em;
  overflow: scroll;
}

.booking-card {
  border: 1px solid black;
  width: 40em;
  height: 5em;
  margin-top: 2em;
  padding: 0.6em;
  background-color: $lightgrey;
}

.booking-card-info {
  display: flex;
  justify-content: center;
}

.customer-heading {
  font-size: 1.3em;
  font-weight: 700;
}

.booking-container {
  @extend .manager-dashboard-container;
}

.booking-headers-container {
  @extend .booking-card-info;
  justify-content: space-around;
  margin: 1em 0;
}

.room-details-card {
  border: 1px solid black;
  width: 40em;
  height: 15em;
  margin-top: 2em;
  padding: 1em;
  background-color: #e6e6e6;
}

.room-details-info {
  padding: 0.3em;
}

.book-button {
  background-color: #7fffd4;
  width: 10em;
  height: 3em;
  border: 1px solid black;
  border-radius: 1em;
  font-size: 0.8em;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    border: solid #000;
    border-radius: 1em;
    background-color: darken(#7fffd4, 30%);
  }
}

.book-button-container {
  display: flex;
  justify-content: flex-end;
}

.manager-search-error-message {
  @extend .search-error-message;
}

.search-guest-button {
  @extend .logout;
}

.delete-container {
  @extend .booking-container;
}

.delete-header-container {
  @extend .booking-headers-container;
}

.delete-bookings-container {
  @extend .make-bookings-container;
}

.delete-a-room-header {
  @extend .book-a-room-header;
}

.find-bookings-to-delete-button {
  @extend .submit-date;
}

.delete-button-container {
  display: flex;
  justify-content: flex-end;
}

.delete-booking-button {
  @extend .book-button;
}

.delete-booking-card {
  @extend .booking-card;
  height: 8em;
}
