nav {
  width: 100vw;
  padding: 2em;
  background-color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  border: 2px solid black;
  padding: 1em;
  width: 20em;
}

.logout {
  background-color: lighten(#808080, 40%);
  width: 6em;
  height: 2em;
  border: none;
  border-radius: 1em;
  border: 1px solid black;
  cursor: pointer;

  &:hover {
    border: solid #000;
    border-radius: 1em;
  }
}
