@import 'variables';
@import 'login';
@import 'nav';
@import 'managerDashboard';
@import 'customerDashboard';

* {
  margin: 0;
  padding: 0;
  z-index: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: $body-background;
  height: 100vh;
  width: 100%;
}

.hidden {
  display: none;
}
